# 2^K Factorial Design

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
k=pd.DataFrame({
             'A' : [-1,+1,-1,+1],
             'B' : [-1,-1,+1,+1],
              'I':[28,36,18,31],
              'II':[25,32,19,30],
               'III':[27,32,23,29]
             }
            )
k.index = [['(1)','a','b','ab']]

In [3]:
k['Total']=k.iloc[:,2:].sum(axis=1)
k['Final'] = k['A'] *k['B'] * k['Total']
k

     A  B   I  II  III  Total  Final
(1) -1 -1  28  25   27     80     80
a    1 -1  36  32   32    100   -100
b   -1  1  18  19   23     60    -60
ab   1  1  31  30   29     90     90

# EFFECTS

In [4]:
EffectA = (k.iloc[1,-1] + k.iloc[3,-1] - k.iloc[0,-1] - k.iloc[2,-1])/(2 * 3) 
EffectB = (k.iloc[2,-1] + k.iloc[3,-1] - k.iloc[0,-1] - k.iloc[1,-1])/(2 * 3)
EffectC = (k.iloc[3,-1] + k.iloc[0,-1] +  k.iloc[1,-1] + k.iloc[2,-1])/(2 * 3)

In [5]:
print('Effect A:',EffectA)
print('Effect :B',EffectB)
print('Effect : C',EffectC)

Effect A: -5.0
Effect :B 8.333333333333334
Effect : C 1.6666666666666667

# CONTRAST

In [6]:
ContrastA = (k.iloc[1,-1] + k.iloc[3,-1] - k.iloc[0,-1] - k.iloc[2,-1])
ContrastB = (k.iloc[2,-1] + k.iloc[3,-1] - k.iloc[0,-1] - k.iloc[1,-1])
ContrastC = (k.iloc[3,-1] + k.iloc[0,-1] +  k.iloc[1,-1] + k.iloc[2,-1])

In [7]:
print('Contrast A:',ContrastA)
print('Contrast B',ContrastB)
print('Contrast C',ContrastC)

Contrast A: -30
Contrast B 50
Contrast C 10

# SUM OF SQUARES

In [8]:
SS_A = ((ContrastA)**2)/(3*4)
SS_B = ((ContrastB)**2)/(3*4)
SS_C = ((ContrastC)**2)/(3*4)

In [9]:
print('SS A',SS_B)
print('SS B',SS_A)
print('SS C',SS_C)

SS A 208.33333333333334
SS B 75.0
SS C 8.333333333333334

# Mean Square Error

In [10]:
MS_B= SS_B/1
MS_A = SS_A/1
MS_C = SS_C/1

print('MS A:',SS_B/1)
print('MS B:',SS_A/1)
print('MS C:',SS_C/1)

MS A: 208.33333333333334
MS B: 75.0
MS C: 8.333333333333334

In [11]:
MS_A = ((ContrastA))/1
MS_B = ((ContrastB))/1
MS_C = ((ContrastC))/1

In [12]:
print('MS A:',SS_B/1)
print('MS B:',SS_A/1)
print('MS C:',SS_C/1)

MS A: 208.33333333333334
MS B: 75.0
MS C: 8.333333333333334

# SUM SQUARE OF TOTAL (SST)

In [13]:
all_val = []
for i in k.iloc[:,2:5]:
    val = k[i].values
    for j in val:
        all_val.append(j)

In [14]:
avg = np.mean(all_val)
print('mean:',avg)
print('Values:',all_val)

mean: 27.5
Values: [28, 36, 18, 31, 25, 32, 19, 30, 27, 32, 23, 29]

In [15]:
ds = []
for i in all_val:
    ds1 = np.sum((i-avg)**2)
#     print(ds1)
    ds.append(ds1)
    
sst = np.sum(ds)
msq = np.sum(ds)/(len(all_val)-1)

In [16]:
sst

323.0

In [17]:
msq

29.363636363636363

# SUM SQUARE OF ERROR(SSE)

In [18]:
SSE = sst -SS_B-SS_A-SS_C
SSE

31.33333333333332

In [19]:
MSE = sst -SS_B-SS_A-SS_C
MSE = SSE/8
MSE

3.916666666666665

# ANOVA

In [21]:
n=len(all_val)
df=pd.DataFrame([
    
             [SS_B,1,SS_B/1, 53.15,0.0001],
             [SS_A,1,SS_A/1,19.13,0.0024],
             [SS_C,1,SS_C/1,2.13, 0.1826],
             [SSE, 8,SSE/8, "NA", "NA"],
             [sst,n-1,sst/n-1,'NA','NA']
]

)
df.index = [['A',"B","AB","Error","Total"]]
df.columns= [['Sum of Squares','Degree of Freedom','Mean square','F-Critical','P-value']]
df.index.rename('Sources of Variation',inplace=True)
df

,Sum of Squares,Degree of Freedom,Mean square,F-Critical,P-value
Sources of Variation,,,,,
A,208.333333,1,208.333333,53.15,0.0001
B,75.000000,1,75.000000,19.13,0.0024
AB,8.333333,1,8.333333,2.13,0.1826
Error,31.333333,8,3.916667,NA,NA
Total,323.000000,11,25.916667,NA,NA