In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats

In [2]:
treat = ['160','180','200','220']
treat1= np.repeat(treat,5)
dat = [575,542,530,539,570,
      565,593,590,579,610,
      600,651,610,637,629,
      725,700,715,685,710]

etch=pd.DataFrame(dat,columns=['Rate'])
power=pd.DataFrame(treat1,columns=['Power'])

df=pd.concat([power,etch],axis=1)
df['Rate']= df['Rate'].astype('float')
df

   Power   Rate
0    160  575.0
1    160  542.0
2    160  530.0
3    160  539.0
4    160  570.0
5    180  565.0
6    180  593.0
7    180  590.0
8    180  579.0
9    180  610.0
10   200  600.0
11   200  651.0
12   200  610.0
13   200  637.0
14   200  629.0
15   220  725.0
16   220  700.0
17   220  715.0
18   220  685.0
19   220  710.0

In [3]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model=ols('Rate ~ Power',
         data=df).fit()
anova_result = sm.stats.anova_lm(model,type=2)
anova_result

            df    sum_sq       mean_sq          F        PR(>F)
Power      3.0  66870.55  22290.183333  66.797073  2.882866e-09
Residual  16.0   5339.20    333.700000        NaN           NaN

In [4]:
groups = df.groupby('Power').groups
groups

{'160': [0, 1, 2, 3, 4], '180': [5, 6, 7, 8, 9], '200': [10, 11, 12, 13, 14], '220': [15, 16, 17, 18, 19]}

In [5]:
g160 = treat1[groups['160']]
g180 = treat1[groups['180']]
g200 = treat1[groups['200']]
g220 = treat1[groups['220']]

In [6]:
stats.f_oneway(g160,g180,g200,g220)

D:\Stats_software\Anaconda\lib\site-packages\scipy\stats\stats.py:3650: F_onewayConstantInputWarning: Each of the input arrays is constant;the F statistic is not defined or infinite
  warnings.warn(F_onewayConstantInputWarning())

F_onewayResult(statistic=inf, pvalue=0.0)

In [8]:
# g160

# race_pairs = []
# for race1 in range(4):
#     for race2 in range(race1+1,4):
#         race_pairs.append((races[race1],races[race2]))
        
# for race1,race2 in race_pairs:
#     print(race1,race2)
#     print(stats.ttest_ind(voter_age[groups[race1]],voter_age[groups[race2]]))

In [ ]:
pressure = ['8500','8700','8900','9100']
pressure= np.repeat(pressure,6)
dat = [90.3,89.2,98.2,93.9,87.4,97.9,
     92.5,89.2
      85.5,89.5,610,637,629,
      82.5,700,715,685,710]

etch=pd.DataFrame(dat,columns=['Rate'])
power=pd.DataFrame(treat1,columns=['Power'])

df=pd.concat([power,etch],axis=1)
df['Rate']= df['Rate'].astype('float')
df