In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf
from tensorflow.keras import layers
import keras
import matplotlib.pyplot as plt


import warnings
warnings.filterwarnings('ignore')

In [2]:
import keras
from tensorflow import  keras
from keras.models import Sequential
from keras.layers import Conv2D,Flatten,Dense

In [3]:
model= Sequential()

In [4]:
model.add(layers.Dense(units=16, activation='relu'))
# model.add(layers.Dense(units=3, activation='relu'))
model.add(layers.Dense(units=1))
model

In [5]:
# model = keras.Sequential([
#     # the hidden ReLU layers
#     layers.Dense(units=4, activation='relu', input_shape=[2]),
#     layers.Dense(units=3, activation='relu'),
#     # the linear output layer 
#     layers.Dense(units=1),
# ])
# model

In [6]:
activation_layer = layers.Activation('relu')

In [7]:
df=pd.read_csv(r'C:\Users\kelvin\Downloads\archive (34)\Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [8]:
df.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [14]:
y= df['Exited'].values
from sklearn.preprocessing import OrdinalEncoder
X = df.iloc[:,[3,4,5,6,7,8,9,10,11]].values
enc = OrdinalEncoder()
enc.fit(df[['Geography','Gender']])
df[['Geography','Gender']] = enc.transform(df[['Geography','Gender']])
X.shape

(10000, 9)

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)
print('X_train',X_train.shape)
print('X_test',X_test.shape)
print('y_train',y_train.shape)
print('y_test',y_test.shape)

X_train (7000, 9)
X_test (3000, 9)
y_train (7000,)
y_test (3000,)

In [16]:
X_test

array([[596.,   1.,   1., ...,   2.,   0.,   0.],
       [623.,   0.,   1., ...,   2.,   1.,   1.],
       [601.,   2.,   0., ...,   2.,   1.,   0.],
       ...,
       [609.,   0.,   1., ...,   1.,   1.,   1.],
       [580.,   0.,   1., ...,   2.,   0.,   1.],
       [533.,   1.,   0., ...,   1.,   0.,   0.]])

In [17]:
X_test,X_train = X_test/255.0, X_train/255.0

In [18]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
# 'categorical_crossentropy'
# 'sparse_categorical_crossentropy'

In [19]:
model.fit(X_train, y_train, epochs=10)

Epoch 1/10
219/219 [==============================] - 2s 3ms/step - loss: 2.4744e-08 - accuracy: 0.7924
Epoch 2/10
219/219 [==============================] - 1s 3ms/step - loss: 2.4744e-08 - accuracy: 0.7924
Epoch 3/10
219/219 [==============================] - 1s 3ms/step - loss: 2.4744e-08 - accuracy: 0.7924
Epoch 4/10
219/219 [==============================] - 1s 3ms/step - loss: 2.4744e-08 - accuracy: 0.7924
Epoch 5/10
219/219 [==============================] - 1s 3ms/step - loss: 2.4744e-08 - accuracy: 0.7924
Epoch 6/10
219/219 [==============================] - 1s 4ms/step - loss: 2.4744e-08 - accuracy: 0.7924
Epoch 7/10
219/219 [==============================] - 1s 4ms/step - loss: 2.4744e-08 - accuracy: 0.7924
Epoch 8/10
219/219 [==============================] - 1s 4ms/step - loss: 2.4744e-08 - accuracy: 0.7924
Epoch 9/10
219/219 [==============================] - 1s 4ms/step - loss: 2.4744e-08 - accuracy: 0.7924
Epoch 10/10
219/219 [==============================] - 1s 4ms/step - loss: 2.4744e-08 - accuracy: 0.7924

In [20]:
y_pred = model.predict(X_test)

94/94 [==============================] - 0s 3ms/step

In [21]:
model.evaluate(X_test,y_test)

94/94 [==============================] - 1s 3ms/step - loss: 2.3206e-08 - accuracy: 0.8053

[2.3206077059967356e-08, 0.8053333163261414]

In [22]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [23]:
y_pred

array([[-76.570854  ],
       [ -0.12421221],
       [ -0.11534721],
       ...,
       [-56.747482  ],
       [ -0.12243789],
       [-91.79314   ]], dtype=float32)